# OS
.DS_Store

# Sensitive files
.gitconfig-awn
go.work
.envrc

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
testing.*

# Dependency directories (remove the comment below to include it)
# vendor/

# ide
.idea/
.idea/**
